body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: iPhone_6_7_8_Plus___2;
}
#iPhone_6_7_8_Plus___2 * {
	margin: 0;
	padding: 0;
}
#iPhone_6_7_8_Plus___2 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 414px;
	height: 736px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: iPhone 6/7/8 Plus – 2;
	--web-view-id: iPhone_6_7_8_Plus___2;
	--web-enable-deep-linking: true;
}
#ID1 {
	fill: url(#ID1_A1_Rectangle_6_pattern);
}
.ID1 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 736px;
	left: 0px;
	top: 0px;
}
#button {
	fill: url(#button_A1_Rectangle_8_pattern);
}
.button {
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 208px;
	left: 103px;
	top: 306px;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 612px;
	left: 0px;
	top: 74px;
}
#Rectangle_2 {
	fill: rgba(166,38,44,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 50px;
	left: 0px;
	top: 24px;
}
#header {
	fill: url(#header_A1_Rectangle_12_pattern);
}
.header {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#HELP_ME {
	position: absolute;
	left: 163px;
	top: 33px;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#setings {
	fill: url(#setings_A1_Rectangle_14_pattern);
}
.setings {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 367px;
	top: 36px;
}
#Rectangle_6 {
	fill: rgba(166,38,44,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 50px;
	left: 0px;
	top: 686px;
}
#map {
	fill: url(#map_A1_Rectangle_17_pattern);
}
.map {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 304px;
	top: 696px;
}
#home {
	fill: url(#home_A1_Rectangle_19_pattern);
}
.home {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 80px;
	top: 696px;
}
#Rectangle_7 {
	fill: rgba(166,38,44,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 82px;
	left: 32px;
	top: 564px;
}
#________________ {
	position: absolute;
	left: 78px;
	top: 584px;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_8 {
	fill: rgba(166,38,44,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 403.772px;
	height: 67.24px;
	left: 4.967px;
	top: 240.76px;
}
#_____________ {
	position: absolute;
	left: 75px;
	top: 257.16px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Rectangle_9 {
	fill: rgba(166,38,44,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 403.772px;
	height: 67.24px;
	left: 4.967px;
	top: 162.76px;
}
#_______ {
	position: absolute;
	left: 75px;
	top: 179.16px;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Rectangle_10 {
	fill: rgba(166,38,44,1);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 403.772px;
	height: 67.24px;
	left: 4.967px;
	top: 84.76px;
}
#________ {
	position: absolute;
	left: 75px;
	top: 101.16px;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#sms1 {
	fill: url(#sms1_A1_Rectangle_25_pattern);
}
.sms1 {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 192px;
	top: 696px;
}
#Rectangle_12 {
	fill: rgba(166,38,44,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 402.932px;
	height: 67.043px;
	left: 5.807px;
	top: 319.425px;
}
#_________________ {
	position: absolute;
	left: 75px;
	top: 335.777px;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#p {
	fill: url(#p_A1_Rectangle_28_pattern);
}
.p {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 18px;
	top: 98px;
}
#polise {
	fill: url(#polise_A1_Rectangle_30_pattern);
}
.polise {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 18px;
	top: 176px;
}
#yiy {
	fill: url(#yiy_A1_Rectangle_32_pattern);
}
.yiy {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 18px;
	top: 254px;
}
#piple {
	fill: url(#piple_A1_Rectangle_34_pattern);
}
.piple {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 18px;
	top: 333px;
}